<header>
  <div class="mat-display-1">MARKETPLACE SAYA</div>
</header>

<body>
<mat-tab-group>
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-buattoko.png" class="imgtab"/>
      <img src="assets/img/ec-logo/ico-btk.png" class="imgicon"/>
    </ng-template>
    <div class="mat-display-2">Buattoko</div>
    <div>
        <mat-icon svgIcon="ico-btk"></mat-icon>
    </div>
    <div fxLayout="row wrap" class="container">
        <div fxFlex="25%" fxFlex.xs="100%" style="background-color: green;" class="container-row">
            <div class="mat-body-2"><strong>URL Admin Toko</strong></div>
        </div>
        <div fxFlex="75%" fxFlex.xs="100%" style="background-color: yellow;" class="container-row">
            <div class="mat-subheading-2">// URL</div>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" style="background-color: red;" class="container-row">
            <div>3</div>
        </div>
        <div fxFlex="75%" fxFlex.xs="100%" style="background-color: blue;" class="container-row">
            <div>4</div>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" style="background-color: purple;" class="container-row">
            <div>5</div>
        </div>
        <div fxFlex="75%" fxFlex.xs="100%" style="background-color: grey;" class="container-row">
            <div>6</div>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" style="background-color: purple;" class="container-row">
          <div>5</div>
      </div>
      <div fxFlex="75%" fxFlex.xs="100%" style="background-color: grey;" class="container-row">
          <div>6</div>
      </div>
      <div fxFlex="25%" fxFlex.xs="100%" style="background-color: purple;" class="container-row">
        <div>5</div>
    </div>
    <div fxFlex="75%" fxFlex.xs="100%" style="background-color: grey;" class="container-row">
        <div>6</div>
    </div>
    </div>
  </mat-tab>
  <mat-tab label="Second"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-tokopedia.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-tpd.png" class="imgicon"/>
    </ng-template>
    Content 2
  </mat-tab>
  <mat-tab label="Fourth"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-shopee.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-shp.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Fifth"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-blibli.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-bli.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Sixth"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-bukalapak.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-bkl.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Seventh"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-lazada.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-lzd.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Eighth" disabled
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-jdid.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-jdi.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Nineth"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-woocommerce.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-woo.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Tenth"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-tiktok.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-tkt.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Eleventh"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-jurnal.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-jur.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Twelfth"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-accurate.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-acc.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab label="Thirdteenth"
    ><ng-template mat-tab-label>
      <img src="assets/img/ec-logo/logo-omnipos.png" class="imgtab" />
      <img src="assets/img/ec-logo/ico-omn.png" class="imgicon"/>
    </ng-template>
    Content 3
  </mat-tab>
</mat-tab-group>
<app-speed-dial-fab [options]="FabOptions"></app-speed-dial-fab>
</body>