<header>
    <div class="mat-display-2">ORDER</div>
</header>


<body>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filter
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-grid-list cols="4" rowHeight="4:1" gutterSize="2rem">
        <mat-grid-tile colspan="1">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Filter">
                <button mat-button mat-icon-button matSuffix>
                    <mat-icon color="warn">close</mat-icon>
                  </button>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-button-toggle-group aria-label="Font Style">
                <mat-button-toggle value="H">H</mat-button-toggle>
                <mat-button-toggle value="H-7">H-7</mat-button-toggle>
                <mat-button-toggle value="H-30">H-30</mat-button-toggle>
                <mat-button-toggle value="all">Semua</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon color="accent">event</mat-icon>
                </mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="4:1" gutterSize="2rem">
        <mat-grid-tile colspan="1">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Filter">
                <button mat-button mat-icon-button matSuffix>
                    <mat-icon color="warn">close</mat-icon>
                  </button>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            fdfd
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            vcsa
        </mat-grid-tile>
    </mat-grid-list>

    <!-- test112 -->

</body>