@import "src/_variables.scss";

.active {
    color: $accent !important;
    font-weight: bold;
}

.active .mat-icon{
  color: $accent !important;
 }
.mat-toolbar { 
    background-color: #f8f9fa;
    height: 60px;
    padding: 8px;
    padding-left: 0px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.mat-toolbar .mat-button {
    font-family: Montserrat;
    font-size: 14px;
    display: block;
}

.menu-spacer {
    flex: 1 1 auto;
  }

mat-sidenav {
    background-color: whitesmoke;
    height: 100%;
    border-right: none;
    overflow: hidden;
}
mat-sidenav-content {
    background-color: white;
    padding-right: 16px;
    overflow: auto !important;
}

.menutoggle {
    background-color: white !important;
    opacity: 0.6;
    color: black;
    position: fixed !important;
    top: 0 !important;
    z-index: 3;
    // margin-left: -20px !important;
}

.mat-sidenav-content::-webkit-scrollbar {
    display: none;
}

mat-sidenav .mat-button {
    font-family: Montserrat;
    font-size: 14px;
    color: $primary;
    width: 100%;
    text-align: left;
}

mat-sidenav-container {
    height: 100%;
}


.backgroundimg {
    position: fixed;
    width: 25%;
    bottom: 8px;
    right: 16px;
    z-index: -1;
    opacity: 0.3;
  }


.mat-menu-item {
    font-size: 14px !important;
    color: $primary;
}

.mat-menu-item .mat-icon {
    color: $primary;
}

.mat-dialog-actions .mat-button {
    font-family: Montserrat;
    margin-right: 8px;
    color: $primary;
}

.imglogo {
    width: 140px;
    margin: 5px 16px;
}

.imgminilogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  margin: 5px 16px;
}


header {
    font-size: 26px;
    margin-left: 10px;
    margin-bottom: -2.5em;
    color: $primary;
}

.container {
  padding: 10px;
}
// div , .table {
//     border-radius: 1em;
//   }
  mat-table {
    width: 100%;
    // border-radius: 1em 1em 0em 0em;
    overflow:hidden !important;
    border-collapse: collapse !important;
    // font-weight: bold;
  }
  
  .mat-header-cell {
    font-size: 14px;
    color: #ffff;
    justify-content: center;
    background-color: $primary;
  }
  .mat-cell {
    text-align: left;
    font-size: 14px;
    justify-content: center;
  }

  .mat-row:hover{
    background-color: #ebebeb;
  }
  
@media (max-width: 600px) {
  .filter { width: 100% !important; }
  .datepicker { width: 100% !important; }
}

.mat-form-field[dense] {
  .mat-form-field-flex > .mat-form-field-infix {
    padding: 1.5em 0px !important;
  }
  .mat-form-field-label-wrapper {
    top: -1.25em;
  }
  .mat-form-field-wrapper{
    padding-bottom: 0;
  }
}

.mat-form-field-no-padding .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
.mat-form-field-no-padding2 .mat-form-field-wrapper {
  margin-bottom: -0.75em;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $primary;
  }
  /* Font color */
  input.mat-input-element {
    color: black;
  }

  .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
    border-top-width: 0;
  }
  //mat-input focused color
// ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//     color: #4fb726!important;
// }

// ::ng-deep .mat-form-field-outline-start {
//     border-radius: 0.7rem 0 0 0.7rem !important;
//     min-width: 0.7rem !important;
//   }
  
//   ::ng-deep .mat-form-field-outline-end {
//     border-radius: 0 0.7rem 0.7rem 0 !important;
//   }

.mat-button-toggle-label-content{
  line-height: 0px !important;
  padding: 20px 10px 10px 10px !important
}

  :host .mat-button-toggle-group{
    border-radius: 0.7rem !important;
}

mat-expansion-panel {
  margin: 16px;
  margin-left: 10px;
}
