<mat-toolbar class="mat-elevation-z4">
  <mat-toolbar-row>
    <button mat-icon-button><mat-icon (click)="sidenav.toggle();">menu</mat-icon></button>
    <img src="assets/img/aturtokologo.png" alt="AturToko" class="imglogo" >
    <span class="menu-spacer"></span>
      <button mat-button color="primary" [matMenuTriggerFor]="user">User</button>
      <mat-menu #user="matMenu" >
        <button mat-menu-item><mat-icon color="primary">manage_accounts</mat-icon>Akun Saya</button>
        <button mat-menu-item (click)="openDialog()"><mat-icon color="primary">logout</mat-icon>Logout</button>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <!-- <img style="width: 200px; " src="assets/img/aturtokologo.png" alt="AturToko"> -->
      <!-- <img style="width: 200px; " src="assets/img/aturtokologo.png" alt="AturToko"> -->
      
      <div><button mat-button routerLink="dashboard" routerLinkActive="active"><mat-icon>home</mat-icon>Halaman Muka</button></div> 
      <div><button mat-button routerLink="order"routerLinkActive="active"><mat-icon>shopping_cart</mat-icon>Order</button></div>
      <div><button mat-button routerLink="product"routerLinkActive="active"><mat-icon>shopping_bag</mat-icon>Produk</button></div>
      <div><button mat-button routerLink="customer"routerLinkActive="active"><mat-icon>people_alt</mat-icon>Pelanggan</button></div>
      <div><button mat-button routerLink="document"routerLinkActive="active"><mat-icon>folder</mat-icon>Laporan</button></div>
      <div><button mat-button routerLink="manualsync"routerLinkActive="active"><mat-icon>sync</mat-icon>Manual Sync</button></div>
      <div><button mat-button [matMenuTriggerFor]="pengaturan"routerLinkActive="active"><mat-icon>settings</mat-icon>Pengaturan</button></div>
      <div><mat-menu #pengaturan="matMenu" >
        <button mat-menu-item routerLink="setting-user" routerLinkActive="active"><mat-icon>groups</mat-icon>Pengguna</button>
        <button mat-menu-item routerLink="setting-marketplace" routerLinkActive="active"><mat-icon>store</mat-icon> Marketplace Saya</button>
        <button mat-menu-item disabled routerLinkActive="active"><mat-icon>storefront</mat-icon> Setting BuatToko</button>
      </mat-menu></div>
      <div><button mat-button routerLink="systempos" routerLinkActive="active"><mat-icon>point_of_sale</mat-icon>Sistem POS</button></div>
    <!-- <span class="menu-spacer"></span>
      <button mat-button color="primary" [matMenuTriggerFor]="user">User</button>
      <mat-menu #user="matMenu" >
        <button mat-menu-item><mat-icon color="primary">manage_accounts</mat-icon>Akun Saya</button>
        <button mat-menu-item><mat-icon color="primary">logout</mat-icon>Logout</button>
      </mat-menu> -->
    
  </mat-sidenav>
  <mat-sidenav-content>
    <img src="assets/img/logobawah.png" alt="AturToko" class="backgroundimg" >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

