@import "src/_variables.scss";

.black {
  color: $accent;
 }

.mat-column-id {
flex: 0 0 5% !important;
width: 5% !important;
}

// .mat-column-title {
//   flex: 0 0 20% !important;
//   width: 20% !important;
// }

// .mat-column-description {
//   flex: 0 0 60% !important;
//   width: 60% !important;
// }

.mat-column-price {
  flex: 0 0 15% !important;
  width: 15% !important;
}

mat-form-field {
  // border: 3px solid $accent;
  margin-bottom: 1em;
  display: block;
  text-align: left;
  width: 50% !important;
  padding: 0px;
  font-size: 16px;
}

mat-paginator {
  border-radius: 0em 0em 1em 1em;
}

mat-paginator .mat-form-field {
  border: none;
  margin-bottom: 10px;
}

.mat-headline {
  text-align: left; 
  margin-bottom: -0.7em;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

// ::ng-deep .mat-form-field-wrapper{
//    margin-bottom: -1.25em;
// }

